body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

.header {
    padding: 10px;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    max-width: 100vh;
    max-height: 100vw;
    margin: 0 10vw;
    /*transform: rotate(2deg);*/
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-slide {
    flex: 0 0 100%; /* Each slide occupies the full width of the container */
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border-radius: 13%;*/
}

.player-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.player-container button {
    /*background: rgba(0, 0, 0, 0.3);*/
    background: none;
    cursor: pointer;
    border: none;

    border-radius: 50%;
}

.player-container button svg {
    opacity: 70%;
}

/* Add styles for the pause icon (hidden by default) */
.play-pause-button .pause-icon {
    display: none;
}

/* Add styles for the play icon */
.play-pause-button .play-icon {
    display: block;
}

/*******************/

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #ffde59;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail {
    margin: 0 10px;
    cursor: pointer;
}

.thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire square */
    border: 2px solid #333;
    border-radius: 5px;
}

.thumbnail img:hover {
    border-color: #666;
}
