// Variables
$text-color: #000;
$background-color: #fff;

$lyre-header-color: $text-color;
$lyre-background-color: $background-color;

$red: #EF1925;

$breakwidth: 900px;

@font-face {
  font-family: 'oldstyle';
  src: url("oldstyle.ttf");
}

// Global styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Newsreader', monospace;
  color: $text-color;
  font-size: 20px;
  background-color: $background-color;
}

$player-height: 54px;

// Header styles
header {
  height: 100vh;
  background-image: url('../img/remi-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .lyre-header {
    color: $lyre-header-color;

    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    background: transparentize($lyre-background-color, 0.15);

    border: $lyre-header-color 9px double;
    //border-bottom: $lyre-header-color 6px double;

    h1, h2 {
      margin: 0;
      text-align: center;
      font-family: 'oldstyle', monospace;
    }

    .title-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .main-title {
        font-size: 55px;

        @media screen and (max-width: $breakwidth) {
          font-size: 35px;
        }
      }

      .subtitle {
        font-size: 25px;

        @media screen and (min-width: $breakwidth) {
          &:before, &:after {
            content: "â•";
            color: $red;
            padding: 0 10px;
          }
        }

        @media screen and (max-width: $breakwidth) {
          font-size: 20px;
        }
      }
    }

    .logo img {
      max-height: 140px;
      margin-bottom: -5px;

      @media screen and (max-width: $breakwidth) {
        max-height: 90px;
      }
    }
  }

  .player-holder {
    display: block;
    height: $player-height;
  }
}

//
//
//
//  header .title-wrapper .subtitle {
//    font-size: 20px;
//  }
//
//  .logo img {
//    max-width: 10vw;
//  }
//}
//
//@media screen and (max-width: 670px) {
//  .lyre-header .title-wrapper .main-title {
//    font-size: 23px;
//  }
//
//  .lyre-header .title-wrapper .subtitle {
//    font-size: 12px;
//  }
//}
//
//@media screen and (max-width: 500px) {
//  .lyre-header .logo img {
//    display: none;
//  }
//}

$max-width: 1200px;

// Main content styles
main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px; // Adjust based on your menu height

  & > section.inactive {
    display: none;
  }

}

.articles {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 768px) {
    column-count: 2;
    column-gap: 40px;
  }

  @media (min-width: 1024px) {
    column-count: 3;
    column-gap: 40px;
  }

  article {
    break-inside: avoid-page;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $text-color;

    &:last-child {
      border-bottom: none;
    }

    h2 {
      font-size: 32px;
      margin: 0 0 15px 0;
      color: #EF1925;
    }

    h3 {
      font-size: 23px;
    }

    p {
      margin-bottom: 15px;
      line-height: 1.6;
    }

    img {
      width: 100%;
    }

    .see-more {
      display: inline-block;
      margin-top: 10px;
      color: $text-color;
      text-decoration: underline;
      font-style: italic;
      float: right;
    }
  }
}

footer {
  text-align: center;
  padding: 20px;

  a {
    background-color: $red;
    color: $background-color;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 50%;

    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 35px;

    ion-icon {
      vertical-align: middle;
      line-height: normal;
      display: inline-block;
    }
  }
}