@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

$player-background: #fff;
$player-height: 54px;

$red: #EF1925;

.listen {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: $player-height;
  margin-top: -$player-height;

  //background: linear-gradient(60deg, #000, $player-background, $player-background, #000);
  background: $player-background;

  z-index: 3;
  position: sticky;
  top: 0;

  border-bottom: black 2px solid;
  border-top: black 2px solid;

  button {
    background: none;
    cursor: pointer;
    border: none;
  }

  .marquee {
    flex: 1;
    padding: 5px;
    overflow: hidden;

    font-size: 130%;

    @media screen and (max-width: $breakwidth) {
      font-size: 90%;
    }

    .currently-playing {
      display: inline-block;
      white-space: nowrap;
      width: auto;
    }
  }

  &.playing .marquee .currently-playing {
    animation: marquee 10s linear infinite;
  }

  .donate a, button.pause-button, button.next-button, button.play-button {
    text-decoration: none;
    margin-right: 10px;
    color: black;

    ion-icon {
      font-size: 35px;

      @media screen and (max-width: $breakwidth) {
        font-size: 20px;
      }
    }

    span {
      line-height: 35px;
      vertical-align: bottom;

      @media screen and (max-width: $breakwidth) {
        font-size: 15px;
      }

      @media screen and (max-width: $breakwidth/2) {
        display: none;
      }
    }
  }

  /************ paused *********************/

  &.paused {

    .play-pause-button button.pause-button,
    .next-button {
      display: none;
    }

    .play-pause-button button.play-button {
      display: block;
    }
  }

  /************ playing ********************/

  &.playing {

    .play-pause-button button.pause-button,
    .next-button {
      display: block;
    }

    .play-pause-button button.play-button {
      display: none;
    }
  }
}
