.listen {
    margin: 0 20px 30px 20px;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(60deg, #EF1925 75%, #000);

    position: sticky;
    top: 0;
}

.listen button {
    background: none;
    cursor: pointer;
    border: none;
}

.listen .marquee {
    flex: 1;
    padding: 5px;
}

.listen .donate a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.listen .donate a ion-icon {
    font-size: 35px;
}

.listen .donate a span {
    max-width: 0;
    transition: max-width 0.5s ease-in-out;

    text-wrap: nowrap;
    display: inline-block;
    overflow: hidden;
}

.listen .donate a:hover span {
    max-width: 300px;
}

/************ paused *********************/

.listen.paused {

}

.listen.paused .play-pause-button button.pause-button,
.listen.paused .next-button {
    display: none;
}

.listen.paused .play-pause-button button.play-button {
    display: block;
}


/************ playing ********************/

.listen.playing {

}

.listen.playing .play-pause-button button.pause-button,
.listen.playing .next-button {
    display: block;
}

.listen.playing .play-pause-button button.play-button {
    display: none;
}
