.listen {
    margin: 0 20px 30px 20px;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listen button {
    background: none;
    cursor: pointer;
    border: none;
}

.listen .marquee {
    flex: 1;
    padding: 5px;
}

.listen .cover img {
    max-height: 46px;
    margin-bottom: -5px;
}

/************ paused *********************/

.listen.paused {

}

.listen.paused .play-pause-button button.pause-button,
.listen.paused .next-button {
    display: none;
}

.listen.paused .play-pause-button button.play-button {
    display: block;
}


/************ playing ********************/

.listen.playing {

}

.listen.playing .play-pause-button button.pause-button,
.listen.playing .next-button {
    display: block;
}

.listen.playing .play-pause-button button.play-button {
    display: none;
}