@charset "UTF-8";
@font-face {
  font-family: 'oldstyle';
  src: url("oldstyle.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: 'Newsreader', monospace;
  color: #000;
  font-size: 20px;
  background-color: #fff; }

header {
  height: 100vh;
  background-image: url("../img/remi-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  header .lyre-header {
    color: #000;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background: rgba(255, 255, 255, 0.85);
    border: #000 9px double; }
    header .lyre-header h1, header .lyre-header h2 {
      margin: 0;
      text-align: center;
      font-family: 'oldstyle', monospace; }
    header .lyre-header .title-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .lyre-header .title-wrapper .main-title {
        font-size: 55px; }
      header .lyre-header .title-wrapper .subtitle {
        font-size: 25px; }
        @media screen and (min-width: 760px) {
          header .lyre-header .title-wrapper .subtitle:before, header .lyre-header .title-wrapper .subtitle:after {
            content: "════════";
            padding: 0 10px; } }
    header .lyre-header .logo img {
      max-width: 80px;
      margin-bottom: -4px; }
  header .player-holder {
    display: block;
    height: 54px; }

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px; }
  main > section.inactive {
    display: none; }

.articles {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }
  @media (min-width: 768px) {
    .articles {
      column-count: 2;
      column-gap: 40px; } }
  @media (min-width: 1024px) {
    .articles {
      column-count: 3;
      column-gap: 40px; } }
  .articles article {
    break-inside: avoid-page;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000; }
    .articles article:last-child {
      border-bottom: none; }
    .articles article h2 {
      font-size: 32px;
      margin: 0 0 15px 0;
      color: #EF1925; }
    .articles article h3 {
      font-size: 23px; }
    .articles article p {
      margin-bottom: 15px;
      line-height: 1.6; }
    .articles article img {
      width: 100%; }
    .articles article .see-more {
      display: inline-block;
      margin-top: 10px;
      color: #000;
      text-decoration: underline;
      font-style: italic;
      float: right; }

footer {
  text-align: center;
  padding: 20px; }
  footer a {
    background-color: #EF1925;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 35px; }
    footer a ion-icon {
      vertical-align: middle;
      line-height: normal;
      display: inline-block; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Slightly greyish and transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it is on top of other content */ }

.overlay-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .overlay-content img {
    max-width: 90vw;
    /* Take as much space as possible within the viewport */
    max-height: 90vh;
    /* Maintain aspect ratio */ }
  .overlay-content .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .overlay-content .close-button::before, .overlay-content .close-button::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 2px;
      background-color: white;
      transform: translate(-50%, -50%) rotate(45deg); }
    .overlay-content .close-button::after {
      transform: translate(-50%, -50%) rotate(-45deg); }

@keyframes marquee {
  0% {
    transform: translateX(0%); }
  30% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }
.listen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
  margin-top: -54px;
  background: #fff;
  z-index: 3;
  position: sticky;
  top: 0;
  border-bottom: black 2px solid;
  /************ paused *********************/
  /************ playing ********************/ }
  .listen button {
    background: none;
    cursor: pointer;
    border: none; }
  .listen .marquee {
    flex: 1;
    padding: 5px;
    overflow: hidden;
    font-size: 130%; }
    .listen .marquee .currently-playing {
      display: inline-block;
      white-space: nowrap;
      width: auto; }
  .listen.playing .marquee .currently-playing {
    animation: marquee 10s linear infinite; }
  .listen .donate a, .listen button.pause-button, .listen button.next-button, .listen button.play-button {
    text-decoration: none;
    margin-right: 10px;
    color: black; }
    .listen .donate a ion-icon, .listen button.pause-button ion-icon, .listen button.next-button ion-icon, .listen button.play-button ion-icon {
      font-size: 35px; }
    .listen .donate a span, .listen button.pause-button span, .listen button.next-button span, .listen button.play-button span {
      max-width: 0;
      transition: max-width 0.5s ease-in-out;
      text-wrap: nowrap;
      display: inline-block;
      overflow: hidden; }
    .listen .donate a:hover span, .listen button.pause-button:hover span, .listen button.next-button:hover span, .listen button.play-button:hover span {
      max-width: 300px; }
  .listen.paused .play-pause-button button.pause-button,
  .listen.paused .next-button {
    display: none; }
  .listen.paused .play-pause-button button.play-button {
    display: block; }
  .listen.playing .play-pause-button button.pause-button,
  .listen.playing .next-button {
    display: block; }
  .listen.playing .play-pause-button button.play-button {
    display: none; }

.cdtheque {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  /**** vertical ***********/ }
  .cdtheque > div {
    margin: 0; }
  .cdtheque .bars {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0; }
    @media screen and (max-width: 500px) {
      .cdtheque .bars {
        margin-right: 10px;
        margin-left: -20px; } }
  .cdtheque .bar {
    width: 30px;
    height: 60px;
    margin: 0 5px;
    transform: skewX(-20deg);
    transition: all 0.3s ease;
    cursor: pointer; }
    .cdtheque .bar:hover {
      transform: skewX(-20deg) scale(1.1); }
  .cdtheque .image-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1; }
  .cdtheque #main-image {
    width: 300px;
    height: 300px;
    object-fit: cover; }
    @media screen and (max-width: 500px) {
      .cdtheque #main-image {
        width: 230px;
        height: 230px; } }
  .cdtheque #image-text {
    margin-top: 10px;
    text-align: left;
    flex-grow: 1; }
    .cdtheque #image-text h4 {
      font-weight: bold;
      text-align: center; }
    .cdtheque #image-text ul {
      border-top: black dotted thin;
      list-style: none;
      margin: 0;
      padding: 0; }
      .cdtheque #image-text ul li {
        display: list-item;
        border-bottom: black dotted thin;
        padding: 10px; }
  @media (max-width: 767px) {
    .cdtheque .image-container {
      flex-direction: column;
      align-items: center;
      margin-left: 0; }
    .cdtheque #image-text {
      margin-top: 10px;
      margin-left: 0; } }

/*# sourceMappingURL=styles.css.map */
